.button-new {
    background: transparent;
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    border-radius: 77px;
    width: 144px;
    height: 45px;
    cursor: pointer;
    color: #FAFAFA;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-new span {
    font-size: 32px;
}