.call-container {
    width: 100%;
}

.new-call,
.MuiDialog-paperFullScreen {
    background: linear-gradient(171.05deg, #040F16 10.94%, #000022 32.9%, rgba(0, 18, 66, 1) 86.22%);
}

.new-call,
.MuiDialog-paperFullScreen {
    background: linear-gradient(171.05deg, #040F16 10.94%, #000022 32.9%, rgba(0, 18, 66, 1) 86.22%);
}

.new-call .form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.new-call .form form {
    display: flex;
    flex-direction: column;
}

.new-call .form .text-field-custom {
    width: 80%;
    margin: 0 auto;
}

.call-container .call-container-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new-commit .MuiPaper-root {
    background: linear-gradient(180deg, #0094C6 0%, #008BBD 27.6%, #001242 100%);
    border-radius: 40px;
    width: 480px;
}

.new-commit .MuiPaper-root .MuiDialogTitle-root h2 {
    font-family: Ubuntu;
    color: #FAFAFA;
    font-size: 32px;
    text-align: center;
}

.new-commit .group button {
    width: 60px;
    height: 60px;
    align-self: center;
    color: #FAFAFA;
    font-size: 32px;
}