.call {
    color: #FAFAFA;
    display: flex;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
}

.call span {
    font-weight: 100;
}

.call ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.call ul li {
    padding: 16px 0;
}



.call .call-title {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.call .call-info {
    display: flex;
    justify-content: flex-end;
    height: 136px;
    position: relative;
}

.call .status-button {
    position: absolute;
    padding: 8px;
    width: 124px;
    right: 15%;
}

.status-button select {
    width: 100%;
    color: #FAFAFA;
    padding: 8px;
    background: transparent;
    border-radius: 16px;
}

.status-button select option {
    background: #FAFAFA;
    color: #101010;
}

.status-button select:focus {
    outline: none;
}

.call .call-info svg {
    height: 100%;
    width: 15%;
}

.call svg line {
    stroke: #FAFAFA;
    stroke-width: 1px;
}

.call .call-info ul {
    width: 83%;
}

.call .call-history {
    display: flex;
    flex-direction: column;
}

.call .call-history h3 {
    margin-top: 0;
    padding-left: 8%;
}

.call .call-history ul {
    width: 80%;
    margin: 0 auto;
}

.call .call-history ul li {
    padding: 8px;
}

.call .call-history ul li h4 {
    margin: 0;
}