.call {
    color: #FAFAFA;
    display: flex;
    width: 85%;
    padding: 24px 0;
    margin: 0px auto;
    flex-direction: column;
    border-bottom: 1px solid #fafafa;
}

.call ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.call ul li {
    padding: 16px 0;
}

.call .call-title {
    display: flex;
    align-items: baseline;
}

.call .call-title span {
    transform: translateX(20px);
}

.call .call-info {
    display: flex;
    justify-content: flex-end;
    height: 136px;
    position: relative;
}

.call .status-button {
    position: absolute;
    padding: 8px;
    width: 124px;
    right: 15%;
}

.call .status-button select {
    width: 100%;
    color: #FAFAFA;
    padding: 8px;
    background: transparent;
    border-radius: 16px;
}

.call .status-button select option {
    background: #FAFAFA;
    color: #101010;
}

.call .status-button select:focus {
    outline: none;
}

.call .call-info svg {
    height: 100%;
    width: 15%;
}

.call svg line {
    stroke: #FAFAFA;
    stroke-width: 1px;
}

.call .call-info ul {
    width: 83%;
}