.projects {
    display: flex;
    justify-content: space-around;
    margin-top: 48px !important;
}

.new-project .MuiPaper-root {
    background: linear-gradient(180deg, #0094C6 0%, #008BBD 27.6%, #001242 100%);
    border-radius: 40px;
    width: 480px;
}


.container-fluid div:first-child {
    display: flex;
    justify-content: center;
}


.container-fluid .MuiGrid-grid-md-5 {
    margin: 0 40px;
}

.new-project .MuiPaper-root .MuiDialogTitle-root h2 {
    font-family: Ubuntu;
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
}

.new-project .group {
    display: flex;
    justify-content: space-around;
    padding: 0 24px;
}

.teste-button {
    width: 60px;
    height: 60px;
    align-self: center;
    color: #FFFFFF !important;
    font-size: 32px !important;
}

.new-project .group button {
    width: 60px;
    height: 60px;
    align-self: center;
    color: #FFFFFF;
    font-size: 32px;
}

.new-project .group .text-field-custom {
    width: 320px;
}